.content {
  display: flex;
  height: 100%;
}

.categories {
  width: 240px;
  border-right: 1px solid #ccc;
  padding-right: 12px;
}

.category {
  padding: 4px 6px;
  cursor: pointer;
}

.category.selected {
  background: #ddd;
  font-weight: bold;
}

.category-children {
  padding-left: 16px;
}

.details {
  width: 320px;
  border-left: 1px solid #ccc;
  padding-left: 12px;
}

.details h3 {
  margin-top: 0;
}

.details textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
}
